@model List<Employee>
<h1>Employee List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Employee Phone Number
            </th>
            <th>
                Employee Address
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var emp in Model.OrderBy(u=>u.Name)) 
        {
            <tr>
                
                <td>@emp.Name</td>
                <td>@emp.PhoneNumber</td>
                <td>@emp.Address</td>
            </tr>
        }
        
    </tbody>
    
</table>